.about_section {
    column-gap: 3rem;
    margin-top: 20px; /* small spacing from CommonSection */
}

.about_section-content h2 {
    margin-bottom: 20px;
}

.about_section p i{
    color: #f9a826;
    font-size: 1.1rem;
}

.about_img {
    margin-top: 0; /* remove extra space on desktop */
}

/* Responsive adjustments */
@media only screen and (max-width: 992px) {
    .about_section-content h2 {
        font-size: 1.5rem;
    }
    .section_description i {
        font-size: 0.9rem !important;
    }
}

@media only screen and (max-width: 844px){
    .about_img {
        margin-top: 20px; /* small space for mobile */
    }
    .about_section {
        margin-top: 20px;
        padding-top: 0;
    }
}
