.common_section {
    background: linear-gradient(rgba(0, 13, 107, 0.6), rgba(0, 13, 107, 0.6)), url('../assets/all-images/drive.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0; /* reduced padding */
}

.common_section h1 {
    margin: 0; /* remove extra margin */
    color: #fff;
    font-size: 2.5rem; /* adjust heading size */
}
