/* login-signup.css */

/* Login button */
.auth-card .login-btn {
  display: block;          /* ensures block level */
  margin: 0 auto 15px;     /* center horizontally, add bottom margin */
  width: 100%;             /* full width */
  padding: 10px;
  font-size: 0.95rem;
  font-weight: 600;
  border-radius: 6px;
  background-color: #f9a826; /* Login button yellow */
  color: #fff;
  border: none;
  text-align: center;
  cursor: pointer;
}

.auth-card .login-btn:hover {
  background-color: #e0a800;
}

/* SignUp button */
.auth-card .signup-btn {
  display: block;
  margin: 0 auto 15px;
  width: 100%;
  padding: 10px;
  font-size: 0.95rem;
  font-weight: 600;
  border-radius: 6px;
  background-color: #041f88; /* SignUp button blue */
  color: #fff;
  border: none;
  text-align: center;
  cursor: pointer;
}

.auth-card .signup-btn:hover {
  background-color: #020a4de9;
}
